
<div *ngIf="dispGpsUltUb">
    <h2><span jhiTranslate="frontTraccarApp.dispGpsUltUb.detail.title">Disp Gps Ult Ub</span> {{dispGpsUltUb.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="frontTraccarApp.dispGpsUltUb.dispositivoGps">Dispositivo Gps</span></dt>
        <dd>
            <div *ngIf="dispGpsUltUb.dispositivoGpsId">
                <a [routerLink]="['/dispositivo-gps', dispGpsUltUb.dispositivoGpsId]">{{dispGpsUltUb.dispositivoGpsIdDispositivo}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="frontTraccarApp.dispGpsUltUb.ultimaUbicacion">Ultima Ubicacion</span></dt>
        <dd>
            <div *ngIf="dispGpsUltUb.ultimaUbicacionId">
                <a [routerLink]="['/ultima-ubicacion', dispGpsUltUb.ultimaUbicacionId]">{{dispGpsUltUb.ultimaUbicacionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'disp-gps-ult-ub/'+ dispGpsUltUb.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
